RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
<FilesMatch "\.(gitignore|ini|sql|ods|md|rb|lock|json)$" >
        Order deny,allow
        Deny from all
</FilesMatch>