/*@import "var";
@import "boutons";
@import "clearfix";
@import "header";
@import "navbar";
@import "search";
@import "list-element";
@import "footer";
@import "typo";
@import "form";
@import "detail";
@import "profil";*/
/* line 15, ../scss/main.scss */
body {
  background-color: whitesmoke;
  font-family: "Calibri", "Arial";
  padding: 0 2%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
